
:root {
	--background: #000;

	--f-high: #fff;
	--f-med: #fff;
	--f-low: #fff;
	--f-inv: #000;

	--b-high: #000;
	--b-med: #000;
	--b-low: #000;
	--b-inv: #fff;
}

@font-face {
	font-family: 'FontTitle';
	font-display: block;
	src:
		url('fnt/helvetica_neue_65.woff2') format('woff2'),
		url('../fnt/helvetica_neue_65.woff') format('woff'),
		url('../fnt/helvetica_neue_65.ttf') format('truetype');
}
	/*
	
@keyframes square-spin {
	25%  { transform: perspective(100px) rotateX(180deg) rotateY(0); }
	50%  { transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
	75%  { transform: perspective(100px) rotateX(0) rotateY(180deg); }
	100% { transform: perspective(100px) rotateX(0) rotateY(0); }
}
*/

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: monospace;
    background: var(--background);
    color: var(--f-med);
}

a {
	color: var(--f-med);
}

h1 {
	font-family: 'FontTitle';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.125rem;
    text-transform: inherit;
    letter-spacing: normal;
}

.start {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%,-50%);
	cursor: pointer;
	-webkit-user-select: none;
}

/*
.preload {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background: var(--f-med);
	animation: square-spin 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;
	display: none;
}
*/

canvas.spectrum {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	-webkit-user-select: none;
	pointer-events: none;
}

footer {
	position: fixed;
	right: 16px;
	bottom: 16px;
	font-family: monospace;
}
